html {
    -webkit-font-smoothing: antialiased !important;
}

body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #333333;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.bg {
    background: url('../images/engine.jpg') no-repeat center center;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 700px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.jumbotron {
    height: 700px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
    margin-bottom: 400px;
}

.stujo_section {
    background-color: #ffffff;
    position: relative;
    color: #333333;
}

.stujo_section .panel-heading {
    background-image: none;
    background-color: #4875B3;
    color: #eeeeee;
    text-shadow: none;
    font-weight: bold;
    font-size: 2em;
}

@media (min-width: 768px) {

    .jumbotron {
        padding-top: 100px;
    }

    .stujo_section {
        margin-top: 0px;
        margin-bottom: 1000px;
        background-attachment: fixed;
    }

    .stujo_section .panel-body {
        min-height: 530px;
    }

    .stujo_section .stujo_bullets > li, .stujo_section p {
        font-weight: bold;
        font-size: 2em;
    }

    .stujo_section .stujo_bullets, .stujo_section .panel-body > p {
        margin-left: 30px;
    }

    .stujo_section .panel-body {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .stujo_section {
        margin-top: 0px;
        margin-bottom: 640px;
    }

    .stujo_section .panel-body {
        min-height: 400px;
    }

    .stujo_section .stujo_bullets > li, .stujo_section p {
        font-weight: bold;
        font-size: 1.2em;
    }

    .stujo_section .stujo_bullets, .stujo_section .panel-body > p {
        margin-left: 0px;
    }

    .stujo_section .panel-body {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.stujo_bullets
{
  margin-top: 30px;
}

ul.sej_section_actions {
    width: 100%;
    display: block;
    clear: both;
    text-align: right;
    list-style: none;
    padding: 5px 20px 5px 0px;
    margin: 20px 0px 0px 0px;
    border-top: 2px solid #4875B3;
    background-color: #ffffff;
}

.sej_section_actions li:after {
    content: "]";
}

.sej_section_actions li:before {
    content: "Up Next: [";
}

ul.stujo_info {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

ul.stujo_info li {
    margin-bottom: 5px;
    font-size: 1em;
}

ul.stujo_info li a {
    font-size: 0.75em;
}

.stujo_screenshot {
    padding: 20px;
    background-color: #ffffff;
    margin: 0px;
    border: 3px solid #DDDDDD;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    max-height: 240px;
}

pre {
    padding: 10px;
    white-space: pre;
    font-family: courier, monospace;
    margin: 0px auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #eeeeee;
}